.square{
  background: white;
  border: 1px solid gray;
  height:80px;
  width:80px;
  font-size:40px;
  line-height:80px;
  text-align:center;
  outline:none;
  border-radius: 10px;
  margin:0;
  box-sizing: border-box;
  cursor: pointer;
}

.square:focus{
  outline:none;
}
.border-row{
  height:80px;
  display: flex;
  justify-content: center;
}
.game{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  display:flex;
  flex-direction:row;
  margin:0 auto;
}
